<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <title>Quản Lý Xe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/volang.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.css') }}">
</head>
<body>
{#<img width="20%" src="{{ url_for('static', filename='img/logo.png') }}" class="rounded mx-auto d-block" alt="Responsive image">#}
<div class="container shadow p-3 mb-5 bg-white rounded" >

    <nav class="navbar bg-dark ">
        <div style="width: 30%"><img width="100%" class="" src="{{ url_for('static', filename='img/logo.png') }}" ></div>
        <a class="navbar-brand" href="{{ url_for('danh_sach_xe') }}">PHẦN MỀM QUẢN LÝ XE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
{#                <span class="navbar-toggler-icon"></span>#}
        </button>

    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="{{ url_for('danh_sach_xe') }}">Danh sách xe <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('login') }}">Logout</a>
                </li>

            </ul>
            <span class="navbar-text">
{#                Navbar text with an inline element#}
            </span>
  </div>
</nav>
    <table class="table table-striped table-hover table-bordered" id="table-danh-sach-xe">
        <thead>
            <tr>
                <th style="text-align: center" scope="col">STT</th>
                <th style="text-align: center" scope="col">Mã xe<input  class="form-control" id="search-ma-xe" onclick="clearSearchVal()" onkeyup="searchMaxe()" type="text" placeholder="Nhập mã xe ..."></th>
                <th style="text-align: center" scope="col">Tên xe<input class="form-control" id="search-hang-xe" onclick="clearSearchVal()" onkeyup="searchHangxe()" type="text" placeholder="Nhập hãng xe.."></th>
                <th style="text-align: center" scope="col">Hãng xe<input class="form-control" id="search-ten-xe" onclick="clearSearchVal()" onkeyup="searchTenxe()" type="text" placeholder="Nhập tên xe.."></th>
                <th style="text-align: center" scope="col">Loại xe<input class="form-control" id="search-loai-xe" onclick="clearSearchVal()" onkeyup="searchLoaixe()" type="text" placeholder="Nhập mẫu xe.."></th>
                <th style="text-align: center" scope="col" width="15%">
{#                    <img width="100%" class="" src="{{ url_for('static', filename='img/logo.png') }}" >#}
                </th>
            </tr>
            <tr>
{#            <form action="{{ url_for('danh_sach_xe_add_xe') }}" method="post">#}
            <form id="FormThemXe">
                <th style="text-align: center" ><i class="far fa-star"></i></th>
                <th>
                    <input type="hidden" class="form-control" id="IDxe" name="PRODUCT_ID" value="{{ max_id }}">
                    <input type="text" class="form-control" disabled id="MaXeDisaable">
                    <input type="hidden" name="PRODUCT_ID_NUMBER" class="form-control" id="MaXe" >
                </th>
                <th><input type="text" class="form-control" name="PRODUCT_NAME" value="" id="TenXe" required></th>
                <th>
                    <select name="PRODUCT_BRAND_ID" class="custom-select" id="ChonHangXe" required>
                    <option value="">Chọn thương hiệu ...</option>
                    {% for row_brand in data_brand_model %}
                        <option value="{{ row_brand['BRAND_ID'] }}">{{ row_brand['BRAND_NAME'] }}</option>
                    {% endfor %}
                    </select>
                </th>
                <th>
                    <select name="PRODUCT_MODEL_ID" class="custom-select" id="ChonModelXe" required>
                        <option value="">Chọn model xe ...</option>
                    </select>
                </th>
                <th><button type="submit" id="sumbit-them-xe" class="form-control btn-secondary">Thêm</button></th>
                </th>
            </form>
            </tr>
        </thead>
        <tbody id="tbody-danh-sach-xe">
        {% for row in danh_sach_xe %}
        <tr>
        <form action="{{ url_for('quan_ly_xe') }}" method="post">
            <th scope="row" style="text-align: center">{{ loop.index }}</th>
            <input type="hidden" name="PRODUCT_ID" value="{{ row.PRODUCT_ID }}">
            <td>{{ row.PRODUCT_ID_NUMBER }}</td>
            <td>{{ row.PRODUCT_NAME }}</td>
            <td>{{ row.PRODUCT_BRAND_NAME }}</td>
            <td>{{ row.PRODUCT_MODEL_NAME }}</td>
            <td>
                <button type="submit" class="form-control">Xem</button>
            </td>
        </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function reloadTable(){
        var input, filter, table, tr, td, i, txtValue;
        table = document.getElementById("table-danh-sach-xe");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
    function clearSearchVal(){
        reloadTable()
        $(" #search-hang-xe ").val('');
        $(" #search-ten-xe ").val('');
        $(" #search-loai-xe ").val('');
        $(" #search-ma-xe ").val('');
    }
    function searchMaxe() {
        {#clearOne()#}
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-ma-xe");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-danh-sach-xe");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
        }
    }
    function searchHangxe() {
        {#clea#}
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-hang-xe");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-danh-sach-xe");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
        }
    }
    function searchTenxe() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-ten-xe");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-danh-sach-xe");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
        }
    }
    function searchLoaixe() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-loai-xe");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-danh-sach-xe");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            console.log(tr[i])

            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
        }
    }
</script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{##}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script>
    $( "#ChonHangXe" ).change(() => {
        $("#MaXeDisaable").val('')
        $( "#ChonModelXe" ).empty();
        $( "#ChonModelXe" ).append(`<option value="">Chọn model xe ...</option>`);
        let brandId = $( "#ChonHangXe option:selected" ).val();
        let obj = JSON.parse('{{ data_brand_model_json | safe  }}');
        let options = obj.filter(e => e.BRAND_ID == brandId)[0].MODEL;
        {#console.log(options,brandId)#}
        console.log(options);
        options.forEach(option => {
            $( "#ChonModelXe" ).append(`<option value=${option.MODEL_ID}>${option.MODEL_NAME}</option>`)
        });
        {#$( "#chon-model-xe" ).empty().append(`<option value=${}>${}</option>`)#}
    });

    $("#ChonModelXe").change(() => {
    var add_ma_xe = [];
    add_ma_xe.push($( "#ChonHangXe option:selected" ).text().substring(0,2).toUpperCase());
    add_ma_xe.push("-")
    {#add_ma_xe.push($( "#chon-hang-xe option:selected" ).text().toUpperCase());#}
    {#add_ma_xe.push($( "#chon-model-xe option:selected" ).text().substring(0,2).toUpperCase());#}
    add_ma_xe.push($( "#ChonModelXe option:selected" ).text().toUpperCase());
    add_ma_xe.push("-")
    add_ma_xe.push($( "#IDxe" ).val());
    $( "#MaXeDisaable" ).val(add_ma_xe.join('').replace(' ',''));
    $( "#MaXe" ).val(add_ma_xe.join('').replace(' ',''));
     {#$( "#ma-xe-trim" ).val($( "#ma-xe-trim" ).val().split(' ').map(e => e.trim()).join(''));#}
    });

    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    $( "#sumbit-them-xe" ).click((e) =>{
        e.preventDefault()
         $.ajax({
             url : '{{ url_for('danh_sach_xe_add_xe') }}',
             data: {"data": JSON.stringify(getFormData($("#FormThemXe")))},
             type : 'POST',
             success: function (response){
                 console.log(response)
                 {#console.log(JSON.parse(response))#}
                 location.reload()
             },
             error: function (error){
                 console.log(error);
             }
         });
     });

</script>
</body>
</html>