<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Quản Lý Xe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/volang.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.css') }}">
    <style>
        i{
            color: #000000;
        }
    </style>
</head>
<body>
<div class="container shadow p-1 mb-0 bg-white rounded" >
    <nav class="navbar bg-dark clearfix">
        <div style="width: 30%"><img width="100%" class="" src="{{ url_for('static', filename='img/logo.png') }}" ></div>
        <a style="width: 60%; color: #cf8330" class="navbar-brand text-center" href="{{ url_for('danh_sach_xe') }}">PHẦN MỀM QUẢN LÝ XE</a>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('danh_sach_xe') }}">Danh Sách Xe<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link active font-weight-bold">QUẢN LÝ XE<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Logout</a>
                </li>
            </ul>
            <span class="navbar-text">
{#                Navbar text with an inline element#}
            </span>
        </div>
    </nav>
    <div class="bg-success clearfix py-2 mb-1">
      <button id="ButtonDanhSach" style="width: 5%;" type="button" class="btn btn-success float-left"><i class="fas fa-angle-left fa-2x"></i></button>
      <button style="width: 90%" type="button" class="btn btn-success float-right">{{ data_xe.PRODUCT_NAME }} - {{ data_xe.PRODUCT_LICENSE_PLATE }}</button>
    </div>
    <div class="accordion" id="accordionExample">
        <form id="FormCapNhatThongTin">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="fas fa-info"> THÔNG TIN XE - {{ data_xe.PRODUCT_STATUS}}</i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-striped table-hover table-bordered" id="">
                        <form id="FormCapNhatThongTinXe">
                        <input name="PRODUCT_ID" value="{{ PRODUCT_ID }}" type="hidden">
                        <tr>
                            <td>Mã xe</td><th colspan="2" style="text-align: center" >{{ data_xe.PRODUCT_ID_NUMBER }}</th>
                        </tr>
                        <tr>
                            <td>Hãng xe</td><td style="text-align: center" >{{ data_xe.PRODUCT_BRAND_NAME }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <select name="PRODUCT_BRAND_ID" class="form-control custom-select" id="ChonHangXe">
                                <option value="">Thương hiệu ...</option>
                                {% for row_brand in data_brand_model %}
                                    <option value="{{ row_brand['BRAND_ID'] }}">{{ row_brand['BRAND_NAME'] }}</option>
                                {% endfor %}
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <td>Loại xe</td><td style="text-align: center" >{{ data_xe.PRODUCT_MODEL_NAME }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <select name="PRODUCT_MODEL_ID" class="form-control custom-select" id="ChonModelXe">
                                    <option value="">Model xe ...</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <td>Mẫu xe</td><td style="text-align: center" >{{ data_xe.PRODUCT_TYPE_NAME }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <select name="PRODUCT_TYPE_ID" class="form-control custom-select" id="">
                                <option value="">Mẫu xe ...</option>
                                {% for row in data_type %}
                                    <option value="{{ row["TYPE_ID"] }}">{{ row["TYPE_NAME"] }}</option>
                                {% endfor %}
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <td>Tên xe</td> <td style="text-align: center" >{{ data_xe.PRODUCT_NAME }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <input name="PRODUCT_NAME" type="text" class="form-control" placeholder="{{ data_xe.PRODUCT_NAME }}">
                            </th>
                        </tr>
                        <tr>
                            <td>Biểm kiểm soát</td> <td style="text-align: center" >{{ data_xe.PRODUCT_LICENSE_PLATE }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <input name="PRODUCT_LICENSE_PLATE" type="text" class="form-control" placeholder="{{ data_xe.PRODUCT_LICENSE_PLATE }}">
                            </th>
                        </tr>
                        <tr>
                            <td>Nơi đăng ký</td> <td style="text-align: center" >{{ data_xe.PRODUCT_LICENSE_PLATE_PLACE }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <input name="PRODUCT_LICENSE_PLATE_PLACE" type="text" class="form-control" placeholder="Nhập nơi đăng ký xe">
                            </th>
                        </tr>
                        <tr>
                            <td>Ngày đăng ký</td> <td style="text-align: center" >{{ data_xe.PRODUCT_REGISTRY_DATE }}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                <input name="PRODUCT_REGISTRY_DATE" type="date" class="form-control">
                            </th>
                        </tr>

                        <tr>
                            <td>Trạng Thái</td> <td style="text-align: center" >{{ data_xe.PRODUCT_STATUS}}</td>

                        </tr>
                        <tr>
                            <th colspan="2">
                                    <select name="PRODUCT_STATUS" class="custom-select">
                                        <option value="">Chọn ...</option>
                                        <option value="Mới nhập">Mới nhập</option>
                                        <option value="Xe đem đi dọn">Xe đem đi dọn</option>
                                        <option value="Xe đã cọc">Xe đã cọc</option>
                                        <option value="Xe đang ở Auto">Xe đang ở Auto</option>
                                        <option value="Xe đã bán">Xe đã bán</option>
                                    </select>
                                </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <button type="submit" class="form-control list-group-item-success ButtonCapNhatThongTinXe">Cập nhật</button>
                            </th>
                        </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTow" aria-expanded="false" aria-controls="collapseTow">
                        <i class="fas fa-dollar-sign"> QUẢN LÝ GIÁ</i>
                    </button>
                </h2>
            </div>
            <div id="collapseTow" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table width="100%" class="table table-striped table-hover table-bordered" id="">
                        <tr>
                            <td>Ngày Nhập</td>
                            <td colspan="1"><input disabled class="form-control" value="{{ data_xe.PRODUCT_GET_DATE }}"></td>

                        </tr>
                        <tr>
                           <td colspan="2"><input type="date" class="form-control" name="PRODUCT_GET_DATE"></td>
                        </tr>

                        <tr>
                            <td >Giá Nhập</td><td><input id="TextGiaTri1" class="form-control" disabled></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="PRODUCT_VALUE_1" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập giá nhập ...,000,000">
                            </td>
                        </tr>
                        <tr>
                            <td>Chi Phí Nhập</td>
                            <td><input class="form-control" disabled id="TextGiaTri2"></td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="PRODUCT_VALUE_2" class="form-control"
                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập chi phí nhập ...,000,000"></td>
                        </tr>
                        <tr>
                            <td>Giá Bán</td>
                            <td><input class="form-control" disabled id="TextGiaTri3"></td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="PRODUCT_VALUE_3" class="form-control" id="InputGiaTri3"
                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập giá bán ...,000,000">
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày Bán</th>
                            <td><input disabled class="form-control" value="{{ data_xe.PRODUCT_SELL_DATE }}"></td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="date" class="form-control" name="PRODUCT_SELL_DATE">
                            </td>
                        </tr>
                        <tr>
                            <td>Chi Phí bán</th>
                            <td><input class="form-control" disabled id="TextGiaTri4"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="PRODUCT_VALUE_4" class="form-control" id="InputGiaTri4"
                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập chi phí bán ...,000,000">
                            </td>
                        </tr>
                        <tr>
                            <td>Giá Bán Thực Tế</th>
                            <td><input class="form-control" disabled id="TextGiaTri5"></td>

                        </tr>
                        <tr>
                             <td colspan="2">
                                <input type="text" name="PRODUCT_VALUE_5" class="form-control" id="InputGiaTri5"
                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập giá bán thực tế ...,000,000">
                            </td>
                        </tr>
                        <tr>
                            <td>Lãi Thực tế</th>
                            <td><input class="form-control list-group-item-secondary" id="TextGiaTri6" disabled></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <button type="submit" class="form-control list-group-item-success ButtonCapNhatThongTinXe">Cập nhật</button></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="flase" aria-controls="collapseFour">
                        <i class="fas fa-info-circle"> QUẢN LÝ CHI TIẾT XE</i>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-striped table-hover table-bordered" id="">
                        <tr>
                            <td >Xuất xứ</td><td style="text-align: center" >{{ data_xe.PRODUCT_ORIGIN }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select name="PRODUCT_ORIGIN" class="form-control custom-select">
                                <option value="">Chọn Xuất xứ ...</option>
                                    <option value="Láp ráp trong nước">Láp ráp trong nước</option>
                                    <option value="Nhập khẩu">Nhập khẩu</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td >Năm sản xuất</td><td style="text-align: center" >{{ data_xe.PRODUCT_RELEASE_YEAR }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input TYPE="number" name="PRODUCT_RELEASE_YEAR" class="form-control" value="" placeholder="Nhập năm sản xuất...">
                            </td>
                        </tr>
                        <tr>
                            <td>Số chỗ ngồi</td><td style="text-align: center" >{{ data_xe.PRODUCT_SEAT }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input TYPE="number" name="PRODUCT_SEAT" class="form-control" value="" placeholder="Nhập số chỗ ngồi...">
                            </td>
                        </tr>
                        <tr>
                            <td>Màu</td><td style="text-align: center" >{{ data_xe.PRODUCT_COLOR }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select name="PRODUCT_COLOR" class="custom-select" id="chon-hang-xe" required>
                                <option value="">Chọn màu...</option>
                                     {% for row in data_color %}
                                         <option value="{{ row["COLOR_NAME"] }}">{{ row["COLOR_NAME"] }}</option>
                                     {% endfor %}
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Odo</td><td style="text-align: center" ><input id="TextOdo" disabled class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="PRODUCT_ODO" class="form-control"
                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="Nhập Odo ...,000"></td>
{#                                <input TYPE="number" name="PRODUCT_ODO" class="form-control" value="">#}
                            </td>
                        </tr>
                        <tr>
                            <td>Nhiên liệu</td><td style="text-align: center" >{{ data_xe.PRODUCT_FUEL_NAME }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select name="PRODUCT_FUEL_NAME" class="custom-select" id="inputGroupSelect02" required>
                                     <option value="">Chọn nhiên liệu ...</option>
                                     <option value="Xăng">Xăng</option>
                                     <option value="Dầu">Dầu</option>
                                     <option value="Điện">Điện</option>
                                 </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Động cơ</td><td style="text-align: center" >{{ data_xe.PRODUCT_ENGINE }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                 <select name="PRODUCT_ENGINE" class="custom-select" id="inputGroupSelect03" required>
                                                 <option value="">Chọn động cơ ...</option>
                                                 <option value="Tự động">Tự động</option>
                                                 <option value="Số sàn">Số sàn</option>
                                                 <option value="Số sàn + Tự động">Số sàn + Tự động</option>
                                             </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <button type="submit" class="form-control list-group-item-success ButtonCapNhatThongTinXe">Cập nhật</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </form>

    </div>

</div>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{##}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script>
    $( "#ChonHangXe" ).change(() => {
        $("#MaXeDisaable").val('')
        $( "#ChonModelXe" ).empty();
        $( "#ChonModelXe" ).append(`<option value="">Chọn model xe ...</option>`);
        let brandId = $( "#ChonHangXe option:selected" ).val();
        let obj = JSON.parse('{{ data_brand_model_json | safe  }}');
        let options = obj.filter(e => e.BRAND_ID == brandId)[0].MODEL;
        {#console.log(options,brandId)#}
        console.log(options);
        options.forEach(option => {
            $( "#ChonModelXe" ).append(`<option value=${option.MODEL_ID}>${option.MODEL_NAME}</option>`)
        });
        {#$( "#chon-model-xe" ).empty().append(`<option value=${}>${}</option>`)#}
    });
    $("#ChonModelXe").change(() => {
    var add_ma_xe = [];
    add_ma_xe.push($( "#ChonHangXe option:selected" ).text().substring(0,2).toUpperCase());
    add_ma_xe.push("-")
    {#add_ma_xe.push($( "#chon-hang-xe option:selected" ).text().toUpperCase());#}
    {#add_ma_xe.push($( "#chon-model-xe option:selected" ).text().substring(0,2).toUpperCase());#}
    add_ma_xe.push($( "#ChonModelXe option:selected" ).text().toUpperCase());
    add_ma_xe.push("-")
    add_ma_xe.push($( "#IDxe" ).val());
    $( "#MaXeDisaable" ).val(add_ma_xe.join('').replace(' ',''));
    $( "#MaXe" ).val(add_ma_xe.join('').replace(' ',''));
     {#$( "#ma-xe-trim" ).val($( "#ma-xe-trim" ).val().split(' ').map(e => e.trim()).join(''));#}
    });

    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    $( ".ButtonCapNhatThongTinXe" ).click((e) =>{
        e.preventDefault()
         $.ajax({
             url : '{{ url_for('quan_ly_xe_cap_nhat_all') }}',
             data: {"data": JSON.stringify(getFormData($("#FormCapNhatThongTin")))},
             type : 'POST',
             success: function (response){
                 {#console.log(response)#}
                 {#console.log(JSON.parse(response))#}
                 location.reload()
             },
             error: function (error){
                 location.reload()
             }
         });
     });
</script>
<script>
    $("#ButtonDanhSach").click(()=>{
        window.location.replace('/danh_sach_xe');
    });

   $( document ).ready(function() {
       $("#TextGiaTri1").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_1 }}));
       $("#TextGiaTri2").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_2 }}));
       $("#TextGiaTri3").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_3 }}));
       $("#TextGiaTri4").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_4 }}));
       $("#TextGiaTri5").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_5 }}));
       $("#TextGiaTri6").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format({{ data_xe.PRODUCT_VALUE_6 }}));
       $("#TextOdo").val(new Intl.NumberFormat().format({{ data_xe.PRODUCT_ODO }}));
    });


$("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    }
});


function formatNumber(n) {
  // format number 1000000 to 1,234,567
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}

function formatCurrency(input, blur) {
  // appends $ to value, validates decimal side
  // and puts cursor back in right position.

  // get input value
  var input_val = input.val();

  // don't validate empty input
  if (input_val === "") { return; }

  // original length
  var original_len = input_val.length;

  // initial caret position
  var caret_pos = input.prop("selectionStart");

  // check for decimal
  if (input_val.indexOf(".") >= 0) {

    // get position of first decimal
    // this prevents multiple decimals from
    // being entered
    var decimal_pos = input_val.indexOf(".");

    // split number by decimal point
    var left_side = input_val.substring(0, decimal_pos);
    var right_side = input_val.substring(decimal_pos);

    // add commas to left side of number
    left_side = formatNumber(left_side);

    // validate right side
    right_side = formatNumber(right_side);

    // On blur make sure 2 numbers after decimal
    if (blur === "blur") {
      right_side += "00";
    }

    // Limit decimal to only 2 digits
    right_side = right_side.substring(0, 2);

    // join number by .
    input_val = "$" + left_side + "." + right_side;

  } else {
    // no decimal entered
    // add commas to number
    // remove all non-digits
    input_val = formatNumber(input_val);
  }

  // send updated string to input
  input.val(input_val);

  // put caret back in the right position
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
}



</script>
</body>
</html>