<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Thêm Xe Mới</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/volang.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.css') }}">
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page"><a href="{{ url_for('list_xe') }}">Danh sách xe</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm xe mới</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <form action="{{ url_for('them_moi_xe') }}" method="post">
            <table width="100%" class="table table-hover table-sm table-bordered table-responsive">
                <thead>
                <tr>
                    <th style="text-align: center" width="20%">Tên</th>
                    <th style="text-align: center" width="80%">Nhập</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">ID Xe</label></th>
                    <td><input style="width: 100%"  type="text" class="form-control" placeholder="ID" disabled value="{{ max_id }}" id="id-xe"></td>
                    <input name="PRODUCT_ID" style="width: 100%"  type="hidden" class="form-control" placeholder="ID" value="{{ max_id }}" id="id-xe">
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Mã Xe</label></th>
                    <td><input style="width: 100%"  type="text" class="form-control" placeholder="Mã xe" disabled id="ma-xe-trim"></td>
                    <input name="PRODUCT_ID_NUMBER" style="width: 100%"  type="hidden" class="form-control" placeholder="Mã xe" id="ma-xe-trim-2">
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Tên Xe</label></th>
                    <td><input name="PRODUCT_NAME" style="width: 100%"  type="text" class="form-control" placeholder="Tên xe" required></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Mô tả</label></th>
    {#                <td><input style="width: 100%"  type="rich" class="form-control" placeholder="ID"></td>#}
                    <td><textarea name="PRODUCT_DES" class="form-control" placeholder="Mô tả"></textarea></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Hãng xe</label></th>
                    <td>
                        <div class="input-group mb-3">
                             <select name="PRODUCT_BRAND_ID" class="custom-select" id="chon-hang-xe" required>
                                 <option value="">Chọn thương hiệu ...</option>
                                 {% for row_brand in data_brand_model %}
                                    <option value="{{ row_brand['BRAND_ID'] }}">{{ row_brand['BRAND_NAME'] }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Loại xe</label></th>
                    <td>
                        <div class="input-group mb-3">
                             <select name="PRODUCT_MODEL_ID" class="custom-select" id="chon-model-xe" required>
                                 <option value="">Chọn model xe ...</option>
    {#                             {% for row_model in data_brand_model[0]['MODEL'] %}#}
    {#                                <option value="{{ row_model['MODEL_ID'] }}">{{ row_brand['MODEL_NAME'] }}</option>#}
    {#                             {% endfor %}#}
                             </select>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Mẫu xe</label></th>
                    <td>
                        <div class="input-group mb-3">
                             <select name="PRODUCT_TYPE_ID" class="custom-select" id="inputGroupSelect01" required>
                                 <option value="">Chọn mẫu xe ...</option>
                                 {% for row in data_type %}
                                     <option value="{{ row["TYPE_ID"] }}">{{ row["TYPE_NAME"] }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Xuất xứ</label></th>
                    <td>
                        <div class="input-group mb-3">
                             <select name="PRODUCT_ORIGIN" class="custom-select" id="inputGroupSelect01" required>
                                 <option value="">Chọn Xuất Xứ ...</option>
                                 <option value="Láp ráp trong nước">Láp ráp trong nước</option>
                                 <option value="Nhập khẩu">Nhập khẩu</option>
                             </select>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Năm SX</label></th>
                    <td><input name="PRODUCT_RELEASE_YEAR" style="width: 100%"  type="number" class="form-control" placeholder="Năm sản xuất" required></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Năm ĐK</label></th>
                    <td><input name="PRODUCT_YEAR" style="width: 100%"  type="number" class="form-control" placeholder="Năm đăng ký xe" required></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Số CN</label></th>
                    <td><input name="PRODUCT_SEAT" style="width: 100%"  type="number" class="form-control" placeholder="Số chỗ ngồi" required></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Nhiên liệu</label></th>
                     <td>
                         <div class="input-group mb-3">
                             <select name="PRODUCT_FUEL_NAME" class="custom-select" id="inputGroupSelect01" required>
                                 <option selected>Chọn nhiên liệu ...</option>
                                 <option value="Xăng">Xăng</option>
                                 <option value="Dầu">Dầu</option>
                                 <option value="Điện">Điện</option>
                             </select>
                         </div>
                     </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Động Cơ</label></th>
                     <td>
                        <div class="input-group mb-3">
                             <select name="PRODUCT_ENGINE" class="custom-select" id="inputGroupSelect01" required>
                                 <option>Chọn động cơ ...</option>
                                 <option value="1">Tự động</option>
                                 <option value="2">Số sàn</option>
                                 <option value="3">Số sàn + Tự động</option>
                             </select>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Màu</label></th>
                    <td>
    {#                     <div class="input-group mb-3">#}
                             <select name="PRODUCT_COLOR" class="custom-select" id="inputGroupSelect01" required>
                                 <option selected>Chọn màu...</option>
                                 {% for row in data_color %}
                                     <option value="{{ row["COLOR_ID"] }}">{{ row["COLOR_NAME"] }}</option>
                                 {% endfor %}
                             </select>
    {#                     </div>#}
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Odo</label></th>
                    <td><input name="PRODUCT_ODO" style="width: 100%"  type="number" class="form-control" placeholder="Odo xe" required></td>
                </tr>
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Ngày nhập</label></th>
                    <td><input name="PRODUCT_GET_DATE" style="width: 100%"  type="date" class="form-control" placeholder="Ngày nhập xe" required></td>
                </tr>
                <input name="PRODUCT_VALUE_1" value="0" type="hidden">
                <input name="PRODUCT_VALUE_2" value="0" type="hidden">
                <input name="PRODUCT_VALUE_3" value="0" type="hidden">
                <input name="PRODUCT_VALUE_4" value="0" type="hidden">
                <input name="PRODUCT_VALUE_5" value="0" type="hidden">
                <input name="PRODUCT_VALUE_6" value="0" type="hidden">
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Ngày bán</label></th>#}
{#                    <td><input name="PRODUCT_SELL_DATE" style="width: 100%"  type="date" class="form-control" placeholder="Ngày bán"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Giá nhập</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_1" value="0" style="width: 100%"  type="text" class="form-control" placeholder="Giá nhập VNĐ" id="gia-nhap" required></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Chi phí nhập</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_2" value="0" style="width: 100%"  type="text" class="form-control" placeholder="Chi phí nhập VNĐ" id="chi-phi-nhap" required></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Giá bán</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_3" value="0" style="width: 100%"  type="text" class="form-control" placeholder="Giá bán VNĐ" id="gia-ban" required></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Chi phí bán</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_4" value="0" style="width: 100%"  type="text" class="form-control" placeholder="Chi phí bán VNĐ" id="chi-phi-ban" required></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Giá thực tế bán</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_5"  value="0" style="width: 100%"  type="text" class="form-control" placeholder="Giá thực tế bán VNĐ" id="gia-ban-thuc-te" required></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th style="text-align: center" scope="row"><label class="form-label">Lãi</label></th>#}
{#                    <td><input name="PRODUCT_VALUE_6" value="0" style="width: 100%"  type="text" class="form-control" placeholder="Lãi VNĐ" id="tien-lai" required></td>#}
{#                </tr>#}
                <tr>
                    <th style="text-align: center" scope="row"><label class="form-label">Trạng thái xe</label></th>
                    <td>Mới nhập<input name="PRODUCT_STATUS" value="Mới nhập" style="width: 100%"  type="hidden" class="form-control" placeholder="Lãi VNĐ" id="tien-lai"></td>
{##}
{#                     <td>#}
{#                        <div class="input-group mb-3">#}
{#                             <select name="PRODUCT_STATUS" class="custom-select" id="inputGroupSelect01" required>#}
{#                                 <option value="">Chọn trạng thái ...</option>#}
{#                                 <option value="Mới nhập">Mới nhập</option>#}
{#                                 <option value="Xe đem đi dọn">Xe đem đi dọn</option>#}
{#                                 <option value="Xe đã cọc">Xe đã cọc</option>#}
{#                                 <option value="Xe đang ở Auto">Xe đang ở Auto</option>#}
{#                                 <option value="Xe đã bán">Xe đã bán</option>#}
{#                             </select>#}
{#                         </div>#}
{#                    </td>#}
                </tr>
                <input name="PRODUCT_VALUE_7" type="hidden" value="0">
                </tbody>
                <tfoot>
                <tr>
                    <th scope="row">Thêm</th>
                    <td><button class="btn-success" style="width: 100%" type="submit"><i class="fas fa-plus fa-sm fa-1x"></i></button></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>

</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}

<script>


    $( "#gia-nhap" ).click(() =>{
         $( "#gia-nhap" ).val('');
         $( "#gia-nhap" ).placeholder('')
         {#console.log($( "#gia-nhap" ).val())#}
     });

     $( "#chi-phi-nhap" ).click(() =>{
         $( "#chi-phi-nhap" ).val('');
         {#console.log($( "#gia-nhap" ).val())#}
     });

      $( "#gia-ban" ).click(() =>{
         $( "#gia-ban" ).val('');
         {#console.log($( "#gia-nhap" ).val())#}
     });

       $( "#chi-phi-ban" ).click(() =>{
         $( "#chi-phi-ban" ).val('');
         {#console.log($( "#gia-nhap" ).val())#}
     });

        $( "#gia-ban-thuc-te" ).click(() =>{
         $( "#gia-ban-thuc-te" ).val('');
         {#console.log($( "#gia-nhap" ).val())#}
     });

         $( "#tien-lai" ).click(() =>{
         $( "#tien-lai" ).val('');
         {#console.log($( "#gia-nhap" ).val())#}
     });

    {#console.log("hello world 1")#}
    $( "#chon-hang-xe" ).change(() => {
        $("#ma-xe-trim").val('')
        $( "#chon-model-xe" ).empty();
        $( "#chon-model-xe" ).append(`<option value="">Chọn model xe ...</option>`);

        let brandId = $( "#chon-hang-xe option:selected" ).val();
        let obj = JSON.parse('{{ data_brand_model_json | safe  }}');
        let options = obj.filter(e => e.BRAND_ID == brandId)[0].MODEL;
        {#console.log(options,brandId)#}
        {#console.log(options);#}
        options.forEach(option => {
            $( "#chon-model-xe" ).append(`<option value=${option.MODEL_ID}>${option.MODEL_NAME}</option>`)
        });
        {#$( "#chon-model-xe" ).empty().append(`<option value=${}>${}</option>`)#}
    });
    $( "#gia-nhap" ).change(() => {
        let total = $( "#gia-nhap" ).val();
        $("#gia-nhap").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });

    $("#chon-model-xe").change(() => {
        var add_ma_xe = [];
        {#add_ma_xe.push($( "#chon-hang-xe option:selected" ).text().substring(0,2).toUpperCase());#}
        add_ma_xe.push($( "#chon-hang-xe option:selected" ).text().toUpperCase());
        {#add_ma_xe.push($( "#chon-model-xe option:selected" ).text().substring(0,2).toUpperCase());#}
        add_ma_xe.push($( "#chon-model-xe option:selected" ).text().toUpperCase());
        add_ma_xe.push("-ID")
        add_ma_xe.push($( "#id-xe" ).val());
        $( "#ma-xe-trim" ).val(add_ma_xe.join('').replace(' ',''));
        $( "#ma-xe-trim-2" ).val(add_ma_xe.join('').replace(' ',''));
         {#$( "#ma-xe-trim" ).val($( "#ma-xe-trim" ).val().split(' ').map(e => e.trim()).join(''));#}
    });



     $( "#chi-phi-nhap" ).change(() => {
        let total = $( "#chi-phi-nhap" ).val();
        $("#chi-phi-nhap").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });
     $( "#gia-ban" ).change(() => {
        let total = $( "#gia-ban" ).val();
        $("#gia-ban").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });
     $( "#chi-phi-ban" ).change(() => {
        let total = $( "#chi-phi-ban" ).val();
        $("#chi-phi-ban").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });
     $( "#gia-ban-thuc-te" ).change(() => {
        let total = $( "#gia-ban-thuc-te" ).val();
        $("#gia-ban-thuc-te").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });
     $( "#tien-lai" ).change(() => {
        let total = $( "#tien-lai" ).val();
        $("#tien-lai").val(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));
        console.log(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total));

    });



    $(function () {
       {#let total = $( "#gia-nhap" ).val();#}
        {#console.log(total)#}
        {#$("#gia-nhap").val(parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "VNĐ").toString());#}
    });

</script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
{#<script src="{{ url_for('static', filename='js/popper.js') }}"></script>#}
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>
</html>